///
/// https://github.com/PawanRamaMali
/// pawanramamali.github.io | @pawanramamali
/// Free for personal and commercial use under the CCA 3.0 license (pawanramamali.github.io/license)
///

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 0.75em 0 0;

			&:last-child {
				padding-right: 0;
			}

			> a, > span {
				border: 0;

				.label {
					display: none;
				}
			}
		}
	}